body {
  font-family: trebuchet ms;
}

main {
  margin: 0 auto;
  width: 450px;
}

.table {
  display: table;
  width: auto;
}

.row {
  display: table-row;
  width: auto;
  clear: both;
}

.column {
  display: inline-block;
  float: left;
  background-color: #78bec5;
  border-radius: 14px;
  cursor: pointer;
  color: #fff;
  margin: 5px;
  height: 60px;
  padding: 40px 0;
  width: 140px;

  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  
  text-align: center;
  vertical-align: middle;

  font: normal normal normal 3.6em/1 FontAwesome;
  text-rendering: auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.column.empty:hover {
  background-color:#3d4250;
}

.player1:before, .cross-player:before {
  content: "\f00d";
}

.player2:before, .nought-player:before {
  content: "\f10c";
}

.player1 {
  background-color: #dc685a;
}

.player2 {
  background-color: #ecaf4f;
}

input[type=checkbox] {
  display: none;
}

input[type=text] {
  background: #1A1A1A;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 0.8em;
  
  color: #fff;
  font-size: 1.1em;
  padding-left: 1.5em;
  
  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

#start {
  float: right;
}

#player-form {
  width: 270px;
  margin: 0 auto;
}

#leader-board {
  clear: both;
}

#leader-board table {

}

#leader-board table th {
  background-color: #ccc;
  border: 1px solid #666;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

table td, table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.btn {
  cursor: pointer;
  outline: none;
  border:1px solid #999999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family:arial, helvetica, sans-serif;
  padding: 5px 15px 5px 15px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  text-decoration:none;
  display:inline-block;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
  font-size:12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
  background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
  margin: 10px 0;
}

.btn:hover{
  border:1px solid #7A7A7A; background-color: #EEEEEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
  background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);
  background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);
  background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);
  background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);
  background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EEEEEE, endColorstr=#C7C7C7);
}

.guide-lines {
  margin: 20px 0;
}

.details {
  margin: 10px;
  font-size: 14px;
}

.cross-player {
  color: #dc685a;
  font: normal normal normal 3.6em/1 FontAwesome;
}

.nought-player {
  color: #ecaf4f;
  font: normal normal normal 3.6em/1 FontAwesome;
}

.details span {
  height: 45px;
  width: 60px;
  vertical-align: middle;
  font-size: 1.8em;
}