<div class="guide-lines">
  <div class="cross details">
    <span class="player cross-player"></span>
    <span class="type"> - Player 1: </span>
    <span class="name"></span>
  </div>

  <div class="nought details">
    <span class="player nought-player"></span>
    <span class="type"> - Player 2: </span>
    <span class="name"></span>
  </div>

  <div class="status details">
    <span class="type">Turn for </span>
    <span class="name"></span>
    <span class="player cross-player"></span>
  </div>

  <div class="result details">
    <span class="type">Game Started </span>
    <span class="name"></span>
    <span class=""></span>
  </div>
</div>

<form id="tic-tac-toe-game">
  <div class="table">
    <div class="row">
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-1" value="1">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-2" value="2">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-3" value="3">
      </label>
    </div>

    <div class="row">
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-4" value="4">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-5" value="5">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-6" value="6">
      </label>
    </div>

    <div class="row">
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-7" value="7">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-8" value="8">
      </label>
      
      <label class="column empty">
        <input type="checkbox" class="cell empty" id="cell-9" value="9">
      </label>
    </div>
  </div>
</form>

<div class="field-row">
  <input type="button" class="btn" id="back" value="Go Back">
</div>